body{
	font-family: 'Cantarell', sans-serif !important;
}

.site{
   margin: 0 auto !important;
   padding:0 !important; 
}

.grace-image{
	
    margin-top: 15px; 
    margin-bottom: 65px; 
    position: absolute;
}

.img-fluid{
	width: 25% !important;
    min-width: 350px !important;
}