body{
  background-color: #fbfbfb;
  margin: auto;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  color: #555;
}

.block{
  padding-top: 1px;
  padding-bottom: 10px;
}

.heading{
  align-content: center;
  text-align: center;
}

h1, h2 strong {
  color: #333;
}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}