.headshot{
	width: 25%;
    min-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	padding-bottom: 80px;
}

.block{
	padding-top: 1px;
	padding-bottom: 10px;
}

body{
	background-color: #fbfbfb;
	margin: auto;
	width: 50%;
	max-width: 800px;
	min-width: 300px;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: left;
	font-family: 'Cantarell', sans-serif;
	font-weight: 300;
}