.headshot{
	text-align:center;
	align-content: center;
}

.logo{
  display: inline-block;
  position: static;
  max-height: 80px;
  height: 50%;
  align-content: left;
}

.top_page{
	padding-top: 100px;
	padding-bottom: 100px;
}

.underline--magical {
  background-image: linear-gradient(45deg, #F9E5EC, #F9B4CB);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.underline--magical--words{
  background-image: linear-gradient(45deg, #E1EDE0, #C9D3E0);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical--words:hover{
  background-size: 100% 88%;
}

.resume_pos{
  text-align: right;
  align-content: right;
}

.align_left { 
	float: left; 
}

.align_right { 
	float: right; 
}

.headshot_resize{
	width: 25%;
    min-width: 300px;
}
.heading{
	align-content: center;
	text-align: center;
}
h1, h2 strong{
  color: #333;
}

.center_links{
	align-content: center;
	text-align: center;
}


.contact_form{
	align-content: center;
	text-align: center;
}

.block{
	padding-top: 1px;
	padding-bottom: 10px;
}

.resume_btn {
	border: none;
	border: 2px solid #646262;
	color: #F9E5EC;
	padding: 10px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #646262;
}


.resume_btn:hover{
	background-color: #F9E5EC;
	color: #646262;
	border: 2px solid #646262;
}

body{
	background-color: #fbfbfb;
	margin: auto;
	width: 50%;
	max-width: 800px;
	min-width: 300px;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: left;
	font-family: 'Cantarell', sans-serif;
	font-weight: 300;
  color: #555;
}

