.headshot{
	width: 25%;
    min-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 200px;
	padding-right: 200px;
}

.block{
	padding-top: 1px;
	padding-bottom: 10px;
}

.resume_btn{
    background: white;
    color: black;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    transition-duration: 0.4s;
    outline: none;
    border: 2px solid gray;
}

.resum_btn:hover{
	background-color: gray;
	color: black;
}

body{
	background-color: #fbfbfb;
	margin: auto;
	width: 50%;
	max-width: 800px;
	min-width: 300px;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: left;
	font-family: 'Cantarell', sans-serif;
	font-weight: 300;
}