---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I'm an first-year Computer Science PhD student at the University of Chicago advised with Professor Mina Lee. My research is in Human-AI interaction with a focus on understanding how technology can be used to deepen student learning by fostering instrinsic motivation and developing sustained resilience. </p>
  
  <p>I am currently focused on two domains:   </p>
      <p class="indent"><b>(1)</b> how to promote information seeking behaviors in students when using LLMs</p>
      <p class="indent"><b>(2)</b> understanding the social dynamics around when, where, from whom, students ask for help. </p>

  <p> Before joining UChicago, I did my B.A. at Barnard College, double majoring in Computer Science and English (concentration in Creative Writing). I earned English Departmental Honors and the Theodore R. Bashkow Undergraduate Research Award in Computer Science. I was fortunate to be advised by <a href="https://barnard.edu/profiles/jhumpa-lahiri">Jhumpa Lahiri</a>, for my Creative Writing Thesis. Throughout my undergraduate career, I did research with Professor <a href="https://www.cs.columbia.edu/~chilton/chilton.html">Lydia Chilton</a> on Human-AI co-writing tools to support science communication and with Professor <a href="https://www.cs.columbia.edu/~smara/">Smaranda Muresan</a></p>.
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="docs-section" id="teaching">
  <h4>Teaching</h4>

    {% for course in site.data.teaching.teaching%}
      <div class="paper">
        <p class="title"><b>{{ course.place }}</b>, <i>{{ course.time }}</i></p>
        <p>Course Title: {{ course.courseTitle }}</p>
        <p>Position: {{course.position}}</p>
          
        </div>
    {% endfor %}

</div>  


<div class="docs-section" id="template">
  <h4>Acknowledgement</h4>
  This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.
</div>  
